---
apiVersion: v1
kind: Secret
metadata:
  name: network-data-secret-{{ item.name | replace('_','-') }}
  namespace: metal3
type: Opaque
data:
  networkData: |
    {{ lookup('ansible.builtin.template', 'network_info.json.j2') | b64encode }}
